@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
.card-container {
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 2px 2px 2px 2px #ccc;
}

.card-img-top {
    width: 8rem;
}


.btn-card {
    background-color: rgb(0, 105, 218);
    text-decoration: none;
    color: white;
    border-radius: 2%;
    width: max-content;
    height: max-content;
    padding: 0.5rem
}

.btn-card:hover {
    background-color: rgb(47, 141, 241);
}

.discount-para {
    color: var(--warning-color);
}

.card-title {
    font-size: 1rem;
    font-weight: 600;
}

.vertical-card-container {
    display: flex;
    flex-direction: row;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 2px 2px 2px 2px #ccc;
    background-color: blanchedalmond;
}

.vertical-card-body{
    margin: 2rem;
}

.card-container .overlay-text{
    position: absolute;
   
    

}

.overlay{
    position: relative;
}

.overlay-text{
width: 100%;
height: 100%;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
opacity: 0.5;
background-color: aliceblue;
}

.card-overlay{
    text-align: center;
    display: flex;
    justify-content: center;
}

.text-card{
    width: 15rem;
    border: 1px solid black;
}

.card-title-dismiss{
    display: flex;
    justify-content: flex-end;
}
.card-title-dismiss .bi-bi-heart{
    font-size: 2rem;
}

.shadow-card{
    box-shadow:2px 2px 2px 2px ;
}


.products-card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .product-tumb img{
   max-width: 100%;
   max-height: 100%;
  }

  .product-card{
    margin: 0.5rem;
    width: 15rem;
    position: relative;
    box-shadow: 0 1px 4px rgb(0 0 0 / 16%);
  }
  
  .product-bottom-details{
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  float: left;
  width: 50%;
  }

  .product-price{
  font-size: 18px;
  color: var(--main-color);
  font-weight: 400;
  }

  .product-details p{
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 8px;
    margin-top: -7px;
    color: #000;
  }
  
  .product-details{
      padding: 5px;
  }

  .badge{
    position: absolute;
    top: 8px;
    right: 0;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: #dedfe0;
    padding: 5px 3px;
    border-radius: 50%;
  }

  

.bi-suit-heart {
    font-size: 20px;
    cursor: pointer;
}
   
.add-to-cart{
    padding: 0.5rem;
    background-color: transparent;
    margin: 1em;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    font-weight: 500; 
    width: max-content;
}

.clear-btn{
    background: none;
    border: none;
    cursor: pointer
}

.product-tumb {
    display: flex;
align-items: center;
justify-content: center;
height: 250px;
background: #fff;

}

.product-category{
    display: block;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin: 1rem;
}