
.best-ratings-container{
  flex-direction: row;
    background-color: aqua; 
     width: max-content;
    padding:0.5rem 1rem;
    color: azure;
    border-radius: 10%;
    border: 1px solid black;
}

.good-ratings-container{
    width: max-content;
    padding:0.5rem 1rem;
    color: azure;
    border-radius: 10%;
    background-color: chartreuse;
    border: 1px solid;
    border: 1px solid black;
}

.bad-ratings-container{
    width: max-content;
    padding:0.5rem 1rem;
    color: azure;
    border-radius: 10%;
   background-color: tomato;
    border: 1px solid black;
}