
.normal-lists-container{
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    font-weight: 500;
}

.list-style{
    list-style-type: none;
    padding: 1rem;
}

.stacked-lists-container{
    display: flex;
    flex-direction: column;
    list-style: none;
    font-size: 20px;
  padding: 1rem;
}

.stacked-list{
    display: flex;
    flex-direction: row;
    list-style: none;
    font-weight: 500;
   align-self: center;
}