
.responsive-img-container{
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.responsive-img{
    border: 1px solid;
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: auto;
}

.curved-img{
    border: 1px solid;
    border-radius: 25%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: auto;
}
.round-img{
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    margin: 2rem;
    border:1px solid;
}